<h1><%= @user.name %></h1>

<ul>
  <li>Favorite Team: <%= @user.favorite_team.name %></li>
  <li>Least Favorite Team: <%= @user.least_favorite_team.name %></li>
</ul>





<%= form_for @new_outing do |f| %>
  <%= f.hidden_field :first_user_id, value: @current_user.id %>
  <%= f.hidden_field :second_user_id, value: @user.id %>
  <%= f.submit "Invite to a Date", class: "btn btn-large btn-primary" %>
<% end %>